<div class="container">
    <h1>Create new Board</h1>
    <%= form_tag ('/board/'), url: { action: "create", } do %>
        <div class="field">
            <%= label_tag 'Board Title: ' %></br>
            <%= text_field_tag :name, nil, required: true, size: 100, maxlength: 100 %></br>
        </div>
        <div class="action">
            <%= submit_tag 'Create Board' %>
        </div>
    <% end %>

</div>

<div class="container container-fluid navbar-fixed-bottom bot-nav">
    <ul class="nav navbar-nav navbar-left">
        <li><a href="/board/"/><span class="glyphicon glyphicon-step-backward"></span> Return to Boards</a></li>
    </ul>
</div>
