<div class="container home">
    <h1>Lynd Forum</h1>
    <p>Lynd Forum is a BBS software written in Ruby on Rails, with an emphasis on usability
    on any size device.</p>
    <p>The purpose is to be a simple forum that runs readily out of the box.
        A set it and forget it approach, aside from moderation duties.
     It incorporates a reputation system to help admins and moderators evaluate
     whether or not the community will retain a user with a poor reputation or not.</p>
</div>
