// These are the colors for the application
// So things like the navbar, page content, etc.
$container-color: #DDDDDD;  // This is for the content
$post-content: #F3F3F3;
$post: #CCC;
$user-card: #9A9A9A;
$navbar-color: #1e1e1e;
$application-bg-color: #484f57; // Color taken from pivotal tracker

// Color pallet for links and buttons
$color-primary-0: #1453B7;	// Main Primary color
$color-primary-1: #5B86CB;
$color-primary-2: #386BBD;
$color-primary-3: #0B3F91;
$color-primary-4: #083071; // Buttons


// Color used for the text, generally.
$color-complement-0: #FFA405;	// Main Complement color
$color-complement-1: #FFC764;
$color-complement-2: #FFB739;
$color-complement-3: #DB8B00;
$color-complement-4: #AB6D00;
