// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "constants";

.post-history {
    padding: 6px;
    margin: 6px;
}

.username {
    overflow-wrap: break-word;

    h1 {
        border-bottom: 1px solid $font-color;
    }
}
